@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Nerko+One&family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
    --side-bg:#b3f6d8;
    --text-white:#fff;
    --text-logo: #080872;
    --text-highlight:#f7f7f7;
    /* --background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    --background: linear-gradient(95deg, rgba(179,246,216,1) 0%, rgba(82,167,193,1) 100%);
    --blob-bg:url("../images/blob (3).svg");
    --blob-bg-sec:url("../images/blob.svg");
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body.dark{
   --background:linear-gradient(95deg, rgba(0,2,63,1) 0%, rgba(80,45,145,1) 100%);
    /* --background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,114,1) 18%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
    --side-bg:rgba(0,2,63,1);
    --text-logo:#f7f7f7;
    --text-highlight:#f7f7f7;
    --blob-bg:url("../images/blob (2).svg");
    --blob-bg-sec:url("../images/blob (1).svg");
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
::before,::after{
    box-sizing: border-box;
}
.padd-15{
    padding: 0 15px;
}
.shadow-dark{
    box-shadow:0 0 20px rgba(48,46,77,.15);
}
.section{
    background:var(--background);
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    display: block;
    position:fixed; 
    opacity: 1;
    padding: 0 30px;
    left: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index:0;
    overflow-y:auto;
    overflow-x: hidden;
    transition:all 0.3s ease;

}
.section.active{
    z-index: 2;
    opacity:1;
    animation: slideSection 1s ease;
}
.section.back-section{
    z-index: 1;
}
@keyframes slideSection{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0%);
    }
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin:0 -15px;
    position: relative;

}
.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background:var( --skin-color);
    color: #fff;
    border-radius:40px;
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    transition:all .3s ease;
    border:none;
}
.btn:hover{

    transform: scale(1.06);
}
ul{
    list-style: none;
}
/* sideBar */
.side{
width: 150px;
position:fixed;
display: flex;
justify-content: center;
align-items: center;
left: 0;
top: 0;
padding: 10px;
height: 100%;
z-index:10;
background:var(--side-bg);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(251, 252, 255, 0.26);
transition:all 0.3s ease;
}
.side .logo{
    position: absolute;
    top: 30px;
    font-size:20px;
    margin-bottom: 20px;
    text-transform:capitalize;
   font-family: 'Nerko One', cursive;

}
.side .logo a{
    color:var(--text-logo);
    font-weight: 600;
    padding: 13px 10px;
    font-size:18px;
    letter-spacing: 2.5px;
    text-transform:capitalize;
    position: relative;
}
.side .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size:30px;
}
.side .logo a::before{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid var(--skin-color);
    border-left: 3px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.side .logo a::after{
    content:'';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 3px solid var(--skin-color);
    border-right: 3px solid var(--skin-color);
    top: 0;
    right: 0;
}
.side .nav-toggler{
    height: 45px;
    width: 40px;
    border: 1px solid #a4b9e3;
    cursor: pointer;
    position: fixed;
    left: 160px;
    top: 20px;
    border-radius:10px;
    background:#a4b9e3;
    display: none;
    align-items: center;
    justify-content: center;
    transition:all 0.3s ease;
}

.fa-bars{
  font-size: 1.4rem;
  padding-top: 5px;
  color:var(--skin-color);
}
.side.nav-toggler.open span{
    background:transparent;
  
}
.side .nav{
    margin-top: 60px;
}
.side .nav li{
    margin-bottom:30px;
    display: block;
}
.side .nav li a{
    font-size:25px;
    border:1px solid var( --skin-color);
    border-radius:50%;
    padding:8px;
    text-align: center;
    display: block;
    color:var(--text-logo);
}
.side .nav li a.active{
    color: var( --skin-color);
}

/* home */
.home{

    min-height:100vh;
    display: flex;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello{
   font-size: 28px;
   margin: 15px 0; 

}
h3.hello span{
    font-family: 'Rubik Bubbles', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var( --skin-color);
}
.type{
    color: var( --skin-color);
}
.home-info{
    color:var(--text-logo);
}
.home-info p{
    margin-bottom: 70px;
}
h3.my-prof{
    font-size: 30px;
    margin: 15px 0;
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
}
.home-img{
    position: relative;
   background:var(--blob-bg);
   background-repeat: no-repeat;
 ;
}
.home-img img{
    background:var( --blob-bg-sec);
    
    background-repeat: no-repeat;
    z-index: 9999;
    padding-left: 60px;
    
}
.hidden{
    display: none !important;
}
.section .container{
    padding-top: 30px;
    padding-bottom: 70px;

}
.section-title{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    color:var(--text-logo);
}
.section-title h2{
    font-size: 40px;
    font-weight: 700;
    position: relative;

}
.section-title h2::before{
    content: "";
    height: 4px;
    width: 50px;
    background:var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: "";
    height: 4px;
    width: 25px;
    background:var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
/* about */

.about .about-content{
    flex:0 0 100%;
    max-width: 100%;
   color: var(--text-logo);
}
.about .about-content .about-text{
    flex:0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
}
.about .about-content .about-text h3 span{
    color:var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
}
.about .about-content .personal-info{
    flex:0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex:0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid #b8a8ac;
}
.about .about-content .personal-info .info-item p span{
    font-weight: 300;
    color: #6b5a5e;
    margin-left: 4px;
    display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    
    margin-top: 10px;
}
.about .about-content .skills{
    flex:0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .skills .skill-item{
    flex:0 0 100%;
    max-width: 100%;
}
.about .about-content .skills .skill-item h5{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #6b5a5e;
    text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress{
 background-color:#6b5a5e;
 height: 7px;
 border-radius: 5px;
 width: 100%;
 position: relative;
}
.about .about-content .skills .skill-item{
    margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius:5px;
    background-color: var(--skin-color);
}
.about .about-content .skills .skill-item .skill-percent{
    position: absolute;
    right: 0;
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience
{
 flex: 0 0 50%;
 max-width: 50%;
 margin-top: 30px;
}
.about .about-content h3.title{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
}
.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
 background-color:#f7f7f7;
 padding: 30px 15px;
 border: 1px solid #f7f7f7;
 border-radius:10px;
 width: 100%;
 position: relative;
}
.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color:var(--skin-color);
}
.about .about-content .timeline .circle-dot{
    position: absolute;
    left: 0;top: 0;
    height: 15px;
    width: 15px;
    border-radius:50%;
    background-color:var(--skin-color);

}
.about .about-content .timeline .timeline-date{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color:gray;
    text-decoration: none !important;
}
.about .about-content .timeline .timeline-date .fa{
    margin-right: 5px;
}
.about .about-content .timeline .timeline-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.about .about-content .timeline .timeline-text{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color:#000;
}
/* services */
.service .container{
 padding-bottom: 40px;
}
.service .service-item{
    margin-bottom: 30px;
    flex:0 0 33.33%;
    max-width:33.33%;
}
.service .service-item .service-item-inner{


    background:rgba(255,255,255,0.25);
    border-radius:10px;
    padding: 30px 15px;
    text-align: center;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(251, 252, 255, 0.26);
    transition:all .3s ease;
    color:var(--text-logo);
}
.service .service-item .service-item-inner:hover{
    box-shadow:0 0 20px rgba(48,46,77,.4);
}
.service .service-item .service-item-inner .icon{
    height: 60px;
    width: 60px;
    border-radius:50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition:all .3s ease;
    
}
.service .service-item .service-item-inner .icon .fa{
    font-size: 40px;
    line-height: 60px;
    color:var(--skin-color);
    transition:all .3s ease;
}
.service .service-item .service-item-inner:hover .icon{
    background-color: var(--skin-color);
   

}
.service .service-item .service-item-inner:hover .fa{
    font-size: 25px;
    color:#f7f7f7;
}
.service .service-item .service-item-inner h4{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: capitalize;
}
.service .service-item .service-item-inner p{
    font-size: 16px;
    line-height: 25px;
    color:var(--text-highlight);

}
/* portfolio */
.portfolio .container{
    padding-bottom: 40px;
}
.portfolio .portfolio-heading{
    flex:0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}
/*  */
.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.p{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(243,242,242);
    border-radius:10px 10px 0 0;
    overflow: hidden;
}
.p-browser{
    height: 20px;
    background-color: rgb(243,242,242);
    display: flex;
    align-items: center;
    position:sticky;
    z-index: 2;
}
.p-circle{
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius:50%;
    background-color: #fff;

}
.p-img{
    width: 100%;
    transition: all 10s ease;
}
.p:hover .p-img{
    transform:translateY(-100%);

}
/*  */
.portfolio .portfolio-heading h3{
    color:var(--text-logo);
    font-weight: 500;
}
.portfolio .portfolio-item{
    flex:0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.portfolio .portfolio-item-inner{
    border:6px solid #f7f7f7;
    border-radius:10px;
    overflow:hidden;
    cursor:pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img{
    width: 100%;
    display: block;
    transition: all 10s ease;
}
/* contact */
.contact-title{
    color:var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-sub-title{
    color:var(--text-highlight);
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}
.contact-info{
  flex: 0 0 25%;
  max-width: 25%;
   text-align: center;
   margin: 10px 18px 60px 0;
   border:2px solid var(--skin-color);
   border-radius:50%;
   padding: 15px;
}
.contact-info .icon{
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-info h4{
    font-size: 14px;
    font-weight: 400;
    color:var(--text-highlight);
    text-transform: capitalize;
    margin: 10px 0 5px;
}
.contact-info .icon .fa-brands{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item .icon{
    display: inline-block;
}

.contact .contact-info-item .icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}
.contact .contact-info-item h4{
    font-size: 18px;
    font-weight: 700;
    color:var(--text-highlight);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color:var(--text-highlight);
    font-weight: 400;
    
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6{
    flex:0 0 50%;
    max-width: 50%;
  
}
.contact .contact-form .col-12{
    flex:0 0 100%;
    max-width: 100%;
  
}
.contact .contact-form .form-item{
    margin-bottom: 30px;
}
.contact .contact-form .form-item .form-control{
    width: 100%;
    height: 50px;
    border-radius:20px;
    background:#f7f7f7;
    border:1px solid #f7f7f7;
    padding: 10px 25px;
    font-size: 16px;
    transition:all .3s ease;

}
.contact .contact-form .form-item .form-control:focus{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
.contact .contact-form .form-item textarea.form-control{
 height: 140px;
 font-family: sans-serif;
}
.contact .contact-form .btn{
    height: 50px;
    padding: 0 50px;
}
/* github */
.github {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  
  .github h1 {
    font-size: 80px;
  }
  
  .githubChart {
    width: 820px;
    text-align: center;
  }
  
  .githubChart:hover .active:nth-child(2n+1) {
    background-color: #f7f7f7;
  }
  
  .githubChart:hover .active:nth-child(2n) {
    background-color: #f7f7f7;
  }
  
  .githubChartDates {
    padding: 10px;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .githubChartBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }
  
  .box {
    width: 15px;
    height: 15px;
    background-color: #1d1a1a;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: 3s all ease;
    transition: 3s all ease;
  }
  
  .active:nth-child(4n) {
    background-color: #f7f7f7;
  }
  
@media screen and (max-width:1199px) 
{
    .section .container{
        padding-top:70px;
    }
    .side{
        left:-150px;
    }
    
    .side .nav-toggler{
        display: flex;
     
    }
    .side .nav-toggler.open{
        left: 160px;
    }

    .side.open{
        left:0;
    }

     .section{
        left: 0;
     }
     .section.open{
      left: 150px;
     }
    .about .about-content .personal-info .inf0-item p span{
        display: block;
        margin-left: 0;
    } 
  
    
}
@media screen and (max-width:991px) {
    .contact .contact-info-item,
    .portfolio .portfolio-item{
        flex:0 0 50%;
        max-width: 50%;
    }
    .service .service-item{
        flex:0 0 50%;
        max-width: 50%;
    }
    .home .home-info{
        flex:0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display: none;
    }

}
@media screen and (max-width:767px){
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .service .service-item,
    .portfolio .portfolio-item,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .experience,
    .about .about-content .personal-info{
        flex:0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 480px;){
    .p{
        width: 40%;
        height: 20vh;
    }
    .pl{
        padding: 10px;
    }
}